<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="5.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="FrazzApps.Xamarin.Forms.AnalyticsConnector" version="1.2.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="portable45-net45+win8+wp8" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="portable45-net45+win8+wp8" />
  <package id="Plugin.Share" version="4.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.Badge" version="1.0.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.Connectivity" version="2.1.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.Version" version="1.0.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Messaging" version="3.2.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Notifier" version="2.0.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading" version="2.1.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.1.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.1.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.2.0.31" targetFramework="portable45-net45+win8+wp8" />
  <package id="ZXing.Net.Mobile" version="2.1.0-beta1" targetFramework="portable45-net45+win8+wp8" />
  <package id="ZXing.Net.Mobile.Forms" version="2.1.0-beta1" targetFramework="portable45-net45+win8+wp8" />
</packages>